/* 既存のCSSはそのまま */
.cp_navi02 ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b2538;
}
.cp_navi02 li {
  border-right: 1px solid #bbbbbb;
}
/* 最後の項目のみ右に寄せる */
.cp_navi02 li:last-child {
  border-right: none;
  margin-left: auto;
}
.cp_navi02 li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .3s;
}
.cp_navi02 li a:hover:not(.active) {
  background-color: #a9bce2;
}
.cp_navi02 .active {
  background-color: #da3c41;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
  .cp_navi02 ul {
    flex-flow: column wrap;
  }
  .cp_navi02 li {
    border-right: none;
    width: 50%; /* 2列にする */
    box-sizing: border-box;
    border-bottom: 1px solid #bbbbbb;
  }
  .cp_navi02 ul li:nth-child(1) {
    width: 100%; /* 一番上の項目を1列にする */
    border-bottom: 1px solid #bbbbbb;
  }
}
