.menu {
  background-color: #4CAF50; /* メニューバーの背景色を目立たせるための色 */
  overflow: hidden;
  margin: 0; /* メニューの周りのマージンをリセット */
}

.menu h1 {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 2.25rem; /* 高さを2.25remに設定 */
  margin: 0; /* デフォルトのマージンをリセット */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: white; /* 文字色を白に設定 */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 2.25rem; /* 高さを2.25remに設定 */
  margin: 0; /* リンクの周りのマージンをリセット */
}

.menu ul li a:hover {
  background-color: #3E8E41;
}
