.menu {
  margin: 0px;
  background-color: #002e00;
  color: #ffffff;
  transition: 500ms;
  display: flex;
}

.menu a{
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  background-color: #006305;
}

.menu ul{
  display: flex;
}

.menu li{
  margin: 15px;
  list-style: none;
}